*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 1px rgb(199, 186, 186);
  width: 50vw;
  height: 60vh;
}
/* .part1{
  height: 30%;
  width: 50vw;

} */

.temp_widget {
  background-color: grey;
  display: flex;
  width: 100%;
  height: 30%;
  font-size: medium;
}
.text1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 800;
}
.search {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;
  flex-direction: row;
}
.input_field {
  text-align: center;
  margin-right: 10px;
}
.btn {
  background-color: rgb(19, 173, 135);
  color: #fff;
  padding: 4px;
  font-size: small;
  border-radius: 2px;
  border: none;
}
.btn:hover {
  background-color: rgb(9, 117, 81);
  cursor: pointer;
  transition: all 0.4s ease;
}

.city_info {
  font-size: small;
  text-align: center;
}
.temps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp_info {
  background-color: rgb(26, 24, 24);
  width: 40%;
  color: #fff;
}

.weather_mode {
  width: 60%;
  font-size: small;
}
.extra{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 10vh;
}
.extraInner{
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 15%;
}
.extra_icon{
  color: rgb(9, 185, 118);
}
/* .extra_upper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size:12px;
  
}
 */
